# Build artifacts
/dist/
/docs/_build/
/docs/api/

# Python caches and configuration
/.mypy_cache/
/.poetry/
/.python-version

# Temporary files that don't need to be recorded in version control
/notes/

# Temporary files
*.swp
