# Temporary files created by vim.
*.swp

# Configuration file for pyenv.
/.python-version

# Build artifacts created by poetry.
/dist/

# Python cache files
*.py[cod]
*$py.class
__pycache__/
.mypy_cache/
.pytest_cache/
